package ${package}.service;

import io.renren.common.service.CrudService;
import ${package}.dto.${className}DTO;
import ${package}.entity.${className}Entity;

/**
 * ${comments}
 *
 * @author ${author} ${email}
 * @since ${version} ${date}
 */
public interface ${className}Service extends CrudService<${className}Entity, ${className}DTO> {

}